    <head>
        <meta charset="utf-8">
        <title>Free Bootstrap Themes, Templates, Snippets, and Guides - Start Bootstrap</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="msapplication-TileColor" content="#dd3d31">
        <meta name="theme-color" content="#dd3d31">
        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-SemiBold.otf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Medium.otf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Regular.otf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-Bold.otf" type="font/otf" crossorigin="anonymous">
        <link rel="preload" as="font" href="/assets/fonts/metropolis/Metropolis-RegularItalic.otf" type="font/otf" crossorigin="anonymous">
        <link rel="apple-touch-icon" sizes="180x180" href="https://assets.startbootstrap.com/img/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://assets.startbootstrap.com/img/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://assets.startbootstrap.com/img/icons/favicon-16x16.png">
        <link rel="mask-icon" href="https://assets.startbootstrap.com/img/icons/safari-pinned-tab.svg" color="#dd3d31">
        <link rel="manifest" href="manifest.webmanifest">
        <script src="https://www.google.com/recaptcha/api.js"></script>
    </head>
    
