<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragment/head_cliente :: head"> </head>
    <header th:replace="/fragment/nuevo :: div"> </header>
    <body>
        <div class="col-sm-10 col-md-10">
            <div class="well">
                <h1>Mis Comentarios</h1>
                <div class="container text-center">
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <div>  
                                <form id="formBusqueda" class="form-inline my-2 my-lg-0" th:action="@{/comentario/misComentarios}">
                                    <input id="palabraClave" class="form-control mr-sm-2" type="text" placeholder="Buscar propiedad" name="palabraClave" th:value="${palabraClave}" aria-label="Search" required>
                                    <button id="btn4" class="btnBuscar btn-material" type="submit" value="Buscar">Buscar</button>
                                    <button id="btn4" class="btnLimpiar btn-material" type="button" value="Limpiar" onclick="limpiarComentario()">Limpiar</button>
                                </form>
                            </div>
                        </div>                        
                    </div>
                </div>
                <br>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Propiedad</th>
                            <th>Comentario</th>
                            <th>Calificación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="comentario : ${comentarios}">
                            <td th:text="${comentario.propiedad.nombre}"></td>
                            <td th:text="${comentario.comentario}"></td>
                            <td>
                                <span th:each="i : ${#numbers.sequence(1, comentario.calificacion)}">★</span>
                            </td>
                            <td>
<!--<a th:href="@{/comentario/borrar/{id}(id=${comentario.idComentario})}" onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?')">Borrar</a>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${error != null}" class="alert alert-danger" role="alert">
                    <p class="MensajeError" th:text="${error}"></p>
                </div>
                <div th:if="${exito != null}" class="alert alert-success" role="alert">
                    <p class="MensajeExito" th:text="${exito}"></p>
                </div>
                <div th:replace = "/fragment/footer :: div"></div>
                <div th:replace = "/fragment/script-cliente :: script"></div>          

                </body>
                </html>