<!DOCTYPE html>
<html lang="en">
    <head th:replace="/fragment/head :: head"> </head>
    <body>  
        <header th:replace="/fragment/navbar :: div">          
        </header>        
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">BUSCANDO ANDO</h1>
                    <h2 class="masthead-subheading mb-0">TU ALQUILER AL ALCANCE DE LA MANO</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/quienes-somos">Quienes somos</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <div class="container-formreservaDetalle">
            <div id="titulo">
                <div class="row" id="cardsPropiedades" th:if="${not #lists.isEmpty(QUINCHO)}">
                    <h2 class="fw-bolder mb-4">QUINCHOS</h2>
                    <div th:each="propiedad : ${QUINCHO}" class="col-sm-6 col-lg-4" >
                        <div class="meal">
                            <img th:src="@{/imagen/imgPropiedad/__${propiedad.idPropiedad}__}" class="meal-img" alt="Japanese Gyozas" />
                            <div class="meal-content">
                                <div class="meal-tags">
                                    <span class="tag tag--vegetarian" th:text="${propiedad.tipoDePropiedad}"></span>
                                </div>
                                <p class="meal-title" th:text="${propiedad.nombre}"></p>
                                <ul class="meal-attributes">
                                    <li class="meal-attribute">
                                    <ion-icon name='cash-outline' class="meal-icon" ></ion-icon>
                                    <span th:text=" '$' + ${propiedad.valor} "><strong></strong> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='reader-outline' class="meal-icon" ></ion-icon>
                                    <strong th:text=" 'Descrpcion: '"></strong>
                                    <span th:text="  ${propiedad.Descripcion} "> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='earth-sharp'  class="meal-icon"></ion-icon>
                                    <strong th:text=" 'Ubicacion: '"></strong>
                                    <a th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${propiedad.ubicacion}}" target="_blank" th:text="${propiedad.ubicacion}"></a>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='person-outline'  class="meal-icon"></ion-icon>      
                                    <strong th:text=" 'Capacidad: '"></strong>
                                    <span th:text="  ${propiedad.capacidad} "> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
                                    <strong th:text=" 'Servicio: '"></strong> 
                                    <span th:text="  ${propiedad.servicios} "> </span>
                                    </li>
                                </ul>
                            </div>
                            <div th:replace="/fragment/botonSolicitarReserva :: div"></div>
                        </div>
                    </div>
                    <!--     <div id="pagination-container"></div>-->
                </div>
                <div class="row" id="cardsPropiedades" th:if="${not #lists.isEmpty(CASA_QUINTA)}">
                    <h2 class="fw-bolder mb-4">CASA QUINTA</h2>
                    <div th:each="propiedad : ${CASA_QUINTA}" class="col-sm-6 col-lg-4" >
                        <div class="meal">
                            <img th:src="@{/imagen/imgPropiedad/__${propiedad.idPropiedad}__}" class="meal-img" alt="Japanese Gyozas" />
                            <div class="meal-content">
                                <div class="meal-tags">
                                    <span class="tag tag--vegetarian" th:text="${propiedad.tipoDePropiedad}"></span>
                                </div>
                                <p class="meal-title" th:text="${propiedad.nombre}"></p>
                                <ul class="meal-attributes">
                                    <li class="meal-attribute">
                                    <ion-icon name='cash-outline' class="meal-icon" ></ion-icon>
                                    <span th:text=" '$' + ${propiedad.valor} "><strong></strong> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='reader-outline' class="meal-icon" ></ion-icon>
                                    <strong th:text=" 'Descrpcion: '"></strong>
                                    <span th:text="  ${propiedad.Descripcion} "> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='earth-sharp'  class="meal-icon"></ion-icon>
                                    <strong th:text=" 'Ubicacion: '"></strong>
                                    <a th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${propiedad.ubicacion}}" target="_blank" th:text="${propiedad.ubicacion}"></a>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='person-outline'  class="meal-icon"></ion-icon>      
                                    <strong th:text=" 'Capacidad: '"></strong>
                                    <span th:text="  ${propiedad.capacidad} "> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
                                    <strong th:text=" 'Servicio: '"></strong> 
                                    <span th:text="  ${propiedad.servicios} "> </span>
                                    </li>
                                </ul>
                            </div>
                            <div th:replace="/fragment/botonSolicitarReserva :: div"></div>
                        </div>
                    </div>
                    <!--     <div id="pagination-container"></div>-->
                </div>
                <div class="row" id="cardsPropiedades" th:if="${not #lists.isEmpty(PATIO)}">
                    <h2 class="fw-bolder mb-4">PATIOS</h2>
                    <div th:each="propiedad : ${PATIO}" class="col-sm-6 col-lg-4">
                        <div class="meal">
                            <img th:src="@{/imagen/imgPropiedad/__${propiedad.idPropiedad}__}" class="meal-img" alt="Japanese Gyozas" />
                            <div class="meal-content">
                                <div class="meal-tags">
                                    <span class="tag tag--vegetarian" th:text="${propiedad.tipoDePropiedad}"></span>
                                </div>
                                <p class="meal-title" th:text="${propiedad.nombre}"></p>
                                <ul class="meal-attributes">
                                    <li class="meal-attribute">
                                    <ion-icon name='cash-outline' class="meal-icon" ></ion-icon>
                                    <span th:text=" '$' + ${propiedad.valor} "><strong></strong> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='reader-outline' class="meal-icon" ></ion-icon>
                                    <strong th:text=" 'Descrpcion: '"></strong>
                                    <span th:text="  ${propiedad.Descripcion} "> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='earth-sharp'  class="meal-icon"></ion-icon>
                                    <strong th:text=" 'Ubicacion: '"></strong>
                                    <a th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${propiedad.ubicacion}}" target="_blank" th:text="${propiedad.ubicacion}"></a>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='person-outline'  class="meal-icon"></ion-icon>      
                                    <strong th:text=" 'Capacidad: '"></strong>
                                    <span th:text="  ${propiedad.capacidad} "> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
                                    <strong th:text=" 'Servicio: '"></strong> 
                                    <span th:text="  ${propiedad.servicios} "> </span>
                                    </li>
                                </ul>
                            </div>
                            <div th:replace="/fragment/botonSolicitarReserva :: div"></div>
                        </div>
                    </div>
                </div>
                <div class="row" id="cardsPropiedades" th:if="${not #lists.isEmpty(SALON_DE_FIESTA)}">
                    <h2 class="fw-bolder mb-4">SALONES DE FIESTAS</h2>
                    <div th:each="propiedad : ${SALON_DE_FIESTA}" class="col-sm-6 col-lg-4">
                        <div class="meal">
                            <img th:src="@{/imagen/imgPropiedad/__${propiedad.idPropiedad}__}" class="meal-img" alt="Japanese Gyozas" />
                            <div class="meal-content">
                                <div class="meal-tags">
                                    <span class="tag tag--vegetarian" th:text="${propiedad.tipoDePropiedad}"></span>
                                </div>
                                <p class="meal-title" th:text="${propiedad.nombre}"></p>
                                <ul class="meal-attributes">
                                    <li class="meal-attribute">
                                    <ion-icon name='cash-outline' class="meal-icon" ></ion-icon>
                                    <span th:text=" '$' + ${propiedad.valor} "><strong></strong> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='reader-outline' class="meal-icon" ></ion-icon>
                                    <strong th:text=" 'Descrpcion: '"></strong>
                                    <span th:text="  ${propiedad.Descripcion} "> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='earth-sharp'  class="meal-icon"></ion-icon>
                                    <strong th:text=" 'Ubicacion: '"></strong>
                                    <a th:href="@{'https://www.google.com/maps/search/?api=1&query=' + ${propiedad.ubicacion}}" target="_blank" th:text="${propiedad.ubicacion}"></a>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon name='person-outline'  class="meal-icon"></ion-icon>      
                                    <strong th:text=" 'Capacidad: '"></strong>
                                    <span th:text="  ${propiedad.capacidad} "> </span>
                                    </li>
                                    <li class="meal-attribute">
                                    <ion-icon class="meal-icon" name="restaurant-outline"></ion-icon>
                                    <strong th:text=" 'Servicio: '"></strong> 
                                    <span th:text="  ${propiedad.servicios} "> </span>
                                    </li>
                                </ul>
                            </div>
                            <div th:replace="/fragment/botonSolicitarReserva :: div"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace = "/fragment/footer :: div"></div>
        <div th:replace = "/fragment/script :: script"></div>
    </body>
</html>