<!DOCTYPE html>
<html lang="en">
    <head th:replace="/fragment/head :: head"> </head>
    <body>
        <header th:replace="/fragment/navbar :: div"> </header>
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h1 class="masthead-heading mb-0">BUSCANDO ANDO</h1>
                    <h2 class="masthead-subheading mb-0">TU ALQUILER AL ALCANCE DE LA MANO</h2>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="/quienes-somos.html">Quienes somos</a>
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
        <!-- Content section 1-->
        <!-- Content section 2-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 text-align">
                    <div class="col-lg-6">                
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2>Los mas visitados</h2>
                            <!-- <div class="card">
                                <div class="header header-map">                                
                                <p class="ubicacion"><span class="fa fa-map-marker"></span><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Mathus Hoyos 4181</span>, <span itemprop="addressLocality">Guaymall&eacute;n</span>, <span itemprop="addressRegion">Mendoza</span></span>. <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates"><meta itemprop="latitude" content="-32.8633381" /><meta itemprop="longitude" content="-68.7710821" /></span> </p>
                             </div>
                                <div class="parairnos-google-maps">
                                <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?zoom=14&q=-32.8633381%2C-68.7710821&key=AIzaSyDoe_-noGSStEUbrI5JyI2TB6ILsPJ5WDM" loading="lazy" allowfullscreen></iframe>
                               </div>
                                </div> CODIGO PARA MAPA DE GOOGLE MAPS CON UBICACION-->
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="assets/img/02.jpg" class="d-block w-100" alt="...">
                                        <p>Quinta totalmente equipada</p>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="assets/img/01.jpg" class="d-block w-100" alt="..."><br>
                                        <p>Casa quinta con pileta</p>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="assets/img/01.jpg" class="d-block w-100" alt="...">
                                        <p>Hermoso quincho de fin de semana</p>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- Content section 3-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 text-align">
                    <div class="col-lg-6">

                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <h2>Mas para explorar</h2>
                            <!-- <div class="card">
                                <div class="header header-map">
                                <p class="ubicacion"><span class="fa fa-map-marker"></span><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Mathus Hoyos 4181</span>, <span itemprop="addressLocality">Guaymall&eacute;n</span>, <span itemprop="addressRegion">Mendoza</span></span>. <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates"><meta itemprop="latitude" content="-32.8633381" /><meta itemprop="longitude" content="-68.7710821" /></span> </p>
                               </div>
                                <div class="parairnos-google-maps">
                                <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?zoom=14&q=-32.8633381%2C-68.7710821&key=AIzaSyDoe_-noGSStEUbrI5JyI2TB6ILsPJ5WDM" loading="lazy" allowfullscreen></iframe>
                               </div>
                                </div> CODIGO PARA MAPA DE GOOGLE MAPS CON UBICACION-->
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="assets/img/02.jpg" class="d-block w-100" alt="...">
                                        <p>otra casa</p>
                                    </div>
                                    <div class="carousel-item" data-bs-interval="2000">
                                        <img src="assets/img/01.jpg" class="d-block w-100" alt="..."><br>
                                        <p>otro quincho</p>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="assets/img/01.jpg" class="d-block w-100" alt="...">
                                        <p>otro lugar</p>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <!-- Footer-->
        <div th:replace = "/fragment/footer :: div"></div>
        <!-- Bootstrap core JS-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/package.json"></script>

        <div th:replace = "/fragment/script :: script"></div>

    </body>
</html>
