<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragment/head_cliente :: head"> </head>
    <header th:replace="/fragment/nuevo :: div"> </header>
    <body>
        <div class="col-sm-10 col-md-10">
            <div class="well">
                <h1>Todos los Usuarios</h1>
                <div class="container text-center">
                    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group" role="group" aria-label="First group">
                            <div>  
                                <form class="form-inline my-2 my-lg-0" th:action="@{/propiedad/listarPropiedades}">
                                    <input class="form-control mr-sm-2" type="text" placeholder="Buscar propiedad" name="palabraClave" th:value="${palabraClave}" aria-label="Search" required>
                                    <button id="btn4" class="btnBuscar btn-material" type="submit" value="Buscar">Buscar</button>
                                    <button id="btn4" class="btnLimpiar btn-material" type="button" value="Limpiar" onclick="limpiar()">Limpiar</button>
                                </form>
                            </div>
                        </div>                        
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Ubicacion</th>
                                <th>Descripcion</th>
                                <th>Valor</th>
                                <th>Capacidad</th>
                                <th>Tipo De Propiedad</th>
                                <th>Propietario</th>
                                <th>Servicios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="propiedad:${propiedad}" th:class="${propiedad.disponibilidad} == false ? 'fila-roja' : ''">
                                <td th:text="${propiedad.nombre}"></td>
                                <td th:text="${propiedad.ubicacion}"></td>
                                <td th:text="${propiedad.Descripcion}"></td>
                                <td th:text="${propiedad.valor}"></td>
                                <td th:text="${propiedad.capacidad}"></td>                               
                                <td th:text="${propiedad.tipoDePropiedad}"></td>
                                 <td th:text="${propiedad.propietario.nombre}"></td>
                                <td th:text="${propiedad.servicios}"></td>
                                <td>
                                    <a  th:href= "@{/propiedad/borrarPropiedad/__${propiedad.idPropiedad}__}" ></i> Eliminar</a>                                  
                                </td>                          
                            </tr>
                        </tbody>
                    </table>
                    <div th:if="${error != null}" class="alert alert-danger" role="alert">
                        <p class="MensajeError" th:text="${error}"></p>
                    </div>
                    <div th:if="${exito != null}" class="alert alert-success" role="alert">
                        <p class="MensajeExito" th:text="${exito}"></p>
                    </div>
                </div>  
            </div>
        </div>
        <div th:replace = "/fragment/footer :: div"></div>
        <div th:replace = "/fragment/script-cliente :: script"></div>                     
    </body>
</html>
