<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragment/head_cliente :: head"> </head>
    <header th:replace="/fragment/nuevo :: div"> </header>
    <body>
        <div class="col-sm-10 col-md-10">
            <div class="well">
                <h1>Mis Propiedades</h1>
<div class="container text-center">
  <form class="form-inline my-2 my-lg-0" th:action="@{/propietario/ListarPropiedadesPropietario}" method="get">
    <div class="d-flex flex-row align-items-center">
      <div class="mr-2">
        <input class="form-control" type="text" placeholder="Buscar propiedad" name="palabraClave" th:value="${palabraClave}" aria-label="Search" required>
      </div>
      <div>
        <button id="btnBuscar" class="btnBuscar btn-material" type="submit" value="Buscar">Buscar</button>
        <button id="btnLimpiar" class="btnLimpiar btn-material ml-2" type="button">Limpiar</button>
      </div>
    </div>
  </form>
</div>

                <br>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Ubicacion</th>
                                <th>Descripcion</th>
                                <th>Valor</th>
                                <th>Capacidad</th>
                                <th>Disponibilidad</th>
                                <th>Tipo De Propiedad</th>
                                <th>Propietario</th>
                                <th>Servicios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="propiedad:${propiedades}" th:class="${propiedad.disponibilidad} == false ? 'fila-roja' : ''">
                                <td th:text="${propiedad.nombre}"></td>
                                <td th:text="${propiedad.ubicacion}"></td>
                                <td th:text="${propiedad.Descripcion}"></td>
                                <td th:text="${propiedad.valor}"></td>
                                <td th:text="${propiedad.capacidad}"></td>
                                <td th:text="${propiedad.disponibilidad}"></td> 
                                <td th:text="${propiedad.tipoDePropiedad}"></td>
                                <td th:text="${propiedad.propietario.nombre}"></td>
                                <td th:text="${propiedad.servicios}"></td>
                                <td>
                                    <a th:href="@{/propietario/borrarPropiedad/__${propiedad.idPropiedad}__}"></i>Eliminar</a>                                  
                                </td>
                                <td>
                                    <a th:href="@{/propietario/altaBaja/__${propiedad.idPropiedad}__}" th:text="${propiedad.disponibilidad} == false ? 'ALTA' : 'BAJA'"></a>                                  
                                </td>
                                <td>
                                    <a th:href="@{/propiedad/actualizarPropiedad/__${propiedad.idPropiedad}__}"></i>Modificar</a>                                  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:if="${error != null}" class="alert alert-danger" role="alert">
                        <p class="MensajeError" th:text="${error}"></p>
                    </div>
                    <div th:if="${exito != null}" class="alert alert-success" role="alert">
                        <p class="MensajeExito" th:text="${exito}"></p>
                    </div>
                </div>  
            </div>
        </div>
        <div th:replace = "/fragment/script-cliente :: script"></div>        
        <script>
            const botonLimpiar = document.querySelector("#btnLimpiar");
            const campoBusqueda = document.querySelector("input[name='palabraClave']");
            const formBuscar = document.querySelector("form");

            botonLimpiar.addEventListener("click", () => {
            campoBusqueda.value = "";
            formBuscar.action = "/propietario/ListarPropiedadesPropietario/Limpiar";
            formBuscar.submit();
            });
        </script>
    </body>
</html>
