<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaft.or/extras/spring-security">
     <head th:replace="/fragment/head :: head"> </head>
    <body>
        <nav th:replace="/fragment/navbar :: div"> </nav>
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h2 class="masthead-subheading mb-0">LOGIN</h2>
                    <form th:action="@{/verificacionLogin}" method="POST" >
                        <div class="form-group my-3">
                            <h3 class="card-title">Ingresa tus datos</h3>
                        </div>
                        <div>
                            <label>Email:</label>
                            <div class="form-group my-3">
                                <input type="email" class="form-control" name="email" th:value="${email}"  placeholder="EMAIL" required>
                            </div>
                        </div>
                        <div>
                            <label>Contraseña:</label>
                            <div class="form-group my-3">
                                <input type="password" class="form-control" name="password" id="password" th:value="${password}" placeholder="CONTRASEÑA" required>
                                <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> 
                                    <span class="fa fa-eye-slash icon"></span> </button>
                            </div>
                        </div>
                        <div th:if="${error != null}" class="alert alert-danger" role="alert">
                            <p class="MensajeError" th:text="${error}"></p>
                        </div>
                        <div th:if="${exito != null}" class="alert alert-success" role="alert">
                            <p class="MensajeExito" th:text="${exito}"></p>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 botones">Iniciar sesion</button>
                    </form>
                    <section class=" text-center container">
                        <div class="row mt-3">
                            <div class="divVolver">
                                <a href="/" class="btn btn-secondary my-2 botonVolver botones">Volver</a>
                            </div>
                        </div>
                    </section>         
                </div>
            </div>
            <div class="bg-circle-1 bg-circle"></div>
            <div class="bg-circle-2 bg-circle"></div>
            <div class="bg-circle-3 bg-circle"></div>
            <div class="bg-circle-4 bg-circle"></div>
        </header>
          <!-- Footer-->
        <div th:replace = "/fragment/footer :: div"></div>
        <!-- Bootstrap core JS-->
        <div th:replace = "/fragment/script :: script"></div>
    </body>
</html>
