<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaft.or/extras/spring-security">
    <head th:replace="/fragment/head :: head"> </head>
    <body >        
        <header th:replace="/fragment/navbar :: div"> 
        </header>      
        <header class="masthead text-center text-white" style="padding-top: 0%;">
            <h1 class="masthead-subheading mb-0" style="padding-bottom: 3%;padding-top: 8%; margin-top: 0%;">Perfil</h1>
            <div class="masthead-content" style="padding-top: 0%;" >               
                <div class="container px-5">                       
                    <section style="background-color: #eee;">
                        <div class="container py-5">
                            <div class="row">
                                <div class="col">
                                    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                                        <ol class="breadcrumb mb-0">
                                            <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                                            <li class="breadcrumb-item"><a href="#">Usuario</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card mb-4">
                                        <div class="card-body text-center">
                                            <img  th:src="@{/imagen/perfil/__${session.usuariosession.id}__}"
                                                  alt="avatar" class="img-circle img-fluid" style="width: 150px;  border-radius: 50%;">                                          
                                            <div class="d-flex justify-content-center mb-2">
                                                <a  th:href="@{/usuario/perfilModificar}" >Editar Perfil</a>
                                            </div>
                                        </div>
                                    </div>     
                                </div>
                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h4 class="text-muted mb-0">Nombre</h4>
                                                    <p class="text-muted mb-0" th:text="${usuario.nombre}" ></p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <h4 class="text-muted mb-0">Correo</h4>
                                                    <p class="text-muted mb-0" th:text="${usuario.email}"></p>
                                                </div>
                                            </div>
                                            <hr> 
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h4 class="text-muted mb-0">Nombre Usuario</h4>
                                                    <p class="text-muted mb-0" th:text="${usuario.nombreUsuario}" ></p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <h4 class="text-muted mb-0">Telefono</h4>
                                                    <p class="text-muted mb-0" th:text="${usuario.telefono}"></p>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
        </header>
        <div th:replace = "/fragment/footer :: div"></div>
        <div th:replace = "/fragment/script :: script"></div>
    </body>
</html>