<!DOCTYPE html>
<html lang="en">
    <head th:replace="/fragment/head :: head"> </head>
    <body>
        <header th:replace="/fragment/navbar :: div"> </header>
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h2 class="masthead-heading mb-0">QUINCHAPP</h2>
                    <p>Somos un grupo de desarrolladores que está dando sus primeros pasos en el mundo IT. Tras un arduo año capacitándonos en el curso Full Stack de EGG Education, como trabajo final decidimos plasmar en un proyecto lo aprendido en Java (con su framework Springboot), JavaScript, Html, Css, bases de datos y GIT.
Esta plataforma tiene como objetivo que los propietarios de quinchos, casas de fin de semana, quintas, etc. puedan cargar sus ofertas con un calendario que muestre la disponibilidad de alquileres y, a su vez, los clientes puedan reservar una fecha.
El equipo está conformado por Federico Sánchez, Alejandra Guerín, Ariadna Redolfi, Gastón Reale, Cesar Galarza, Alejandro Fernández, Esteban Cardozo y Luciano Fernández.</p>
                </div>
            </div>
        </header>
        <div th:replace = "/fragment/footer :: div"></div>
        <div th:replace = "/fragment/script :: script"></div>
    </body>
</html>