<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaft.or/extras/spring-security">
    <head th:replace="/fragment/head :: head"> </head>
    <body>
        <section>
            <header th:replace="/fragment/navbar :: div"> </header>
            <header class="masthead text-center text-white">
                <div class="masthead-content">
                    <div class="container px-5">
                        <h2 class="masthead-subheading mb-0">Registrese aqui!</h2>
                        <div id="login">
                               <section>
                            <div class="container">
                                <div id="login-row" class="row justify-content-center align-items-center">
                                    <div id="login-column" class="col-md-6">
                                        <div id="login-box" class="col-md-12"></div>
                                        <form action="/usuario/registro" method="POST" enctype="multipart/form-data"> 
                                            <div class="form-group">
                                                <label for="nombre" class="text-info">Nombre:</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre" th:value="${nombre}" placeholder="Mark" required >
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="form-label">Correo:</label>
                                                <input type="text" class="form-control" name="email" id="email"  th:value="${email}" placeholder="miemail@gmail.com" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
                                                <div class="input-group">
                                                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                                    <input type="text" class="form-control" name="nombreUsuario" id="nombreUsuario" th:value="${nombreUsuario}"  placeholder="miUsuario" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="telefono" class="text-info">Teléfono:</label>
                                                <input type="text" class="form-control" id="telefono" name="telefono" th:value="${telefono}" placeholder="3794111111" required >
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="text-info">Contraseña:</label><br>                                   
                                                <div class="input-group-append">
                                                    <input type="password" name="password" id="password" class="form-control"
                                                           th:value="${password}"required> 
                                                    <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="password2" class="text-info">Repita la contraseña:</label><br>                                   
                                                <div class="input-group-append">
                                                    <input type="password" name="password2" id="password2" class="form-control"
                                                           th:value="${password2}"required>
                                                    <button id="show_password2" class="btn btn-primary" type="button" onclick="mostrarPassword2()"> <span class="fa fa-eye-slash icon2"></span> </button>
                                                </div>                               
                                            </div>
                                            <div class="form-group">
                                                <label for="archivo" class="imagen">Imagen de perfil:</label><br>
                                                <input type="file" name="archivo" id="archivo" class="form-control"
                                                       th:value="${archivo}">
                                            </div>
                                            <select name="tipoUsuario">
                                                <option
                                                    th:value="cliente" 
                                                    th:text="cliente"
                                                    th:selected="cliente"
                                                    />
                                                <option
                                                    th:value="propietario" 
                                                    th:text="propietario"
                                                    th:selected="propietario"
                                                    />
                                            </select>
                                            <div class="col-12">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                                    <label class="form-check-label" for="invalidCheck2">
                                                        <p> Acepto haber leído los <a class="text-info" th:href="@{/usuario/terminos}">  términos y condiciones </a> </p> 
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Registrarme">
                                            </div>
                                            <div id="register-link" class="text-right">
                                                <a href="/" class="text-info">Volver a iniciar sesion</a>
                                            </div>
                                            <div th:if="${error != null}" class="alert alert-danger" role="alert">
                                                <p class="MensajeError" th:text="${error}"></p>
                                            </div>
                                            <div th:if="${exito != null}" class="alert alert-success" role="alert">
                                                <p class="MensajeExito" th:text="${exito}"></p>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </section> 
                        <div th:replace = "/fragment/footer :: div"></div>
                        <div th:replace = "/fragment/script :: script"></div>
                        </body>
                        </html>


