<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="/fragment/head_cliente :: head"> </head>
    <header th:replace="/fragment/nuevo :: div"> </header>
    <body>
        <div class="container-formreserva">
            <div class="container"sec:authorize="hasRole('PROPIETARIO')">
                <div class="row justify-content-center align-items-center">
                    <div class="col-sm-8 col-md-4 col-md-offset-4"> 
                        <h1 style="margin-top: 100px" class="text-center">
                            Ingrese la nueva propiedad
                        </h1>
                        <br />
                        <form
                            class="needs-validation"
                            novalidate
                            th:action="@{/propiedad/registroPropiedad}"
                            method="POST"
                            enctype="multipart/form-data"
                            >
                            <div class="form-group">
                                <label for="nombre" class="form-label">
                                    Nombre de la Propiedad
                                </label>
                                <input type="text" class="form-control" name="nombre" required />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">
                                    Es necesario ingresar el Nombre de la Propiedad
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ubicacion" class="form-label">Direccion</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="ubicacion"
                                    placeholder="Ej: Juan Jose Silva 57, Formosa, Formosa"
                                    required
                                    />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">
                                    Es necesario ingresar la Direccion
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="descripcion" class="form-label">Descripcion</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    name="descripcion"
                                    required
                                    />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">
                                    Es necesario ingresar la Descripcion
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="valor" class="form-label">$ Precio por Noche</label>
                                <input type="number" class="form-control" name="valor" required />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">
                                    Es necesario ingresar el Importe
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="capacidad" class="form-label">Capacidad</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    name="capacidad"
                                    required
                                    />
                                <div class="valid-feedback"></div>
                                <div class="invalid-feedback">
                                    Es necesario ingresar la Capacidad
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="tipoDePropiedad" class="form-label"
                                       >Tipo de Propiedad</label
                                >
                                <select
                                    class="form-select"
                                    name="tipoDePropiedad"
                                    aria-describedby="validationServer04Feedback"
                                    required
                                    >
                                    <option selected disabled value="">Elije...</option>
                                    <option value="QUINCHO">Quincho</option>
                                    <option value="SALON_DE_FIESTA">Salon de Fiesta</option>
                                    <option value="CASA_QUINTA">Casa Quinta</option>
                                    <option value="PATIO">Patio</option>
                                </select>
                                <div id="validationServer04Feedback">
                                    Seleccione un tipo de propiedad valido.
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="file" class="form-control is-valid" name="imagen" th:value="${imagen}" multiple required />
                                <br>
                                <button type="button" class="btn btn-primary" id="add-image-button">Agregar otra imagen</button>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div id="image-container"></div>
                            <div class="form-group">
                                <label for="servicio" class="form-label">Servicios</label>
                                <div>
                                    <input type="checkbox" name="servicio" value="WIFI" id="servicio-wifi">
                                    <label for="servicio-wifi">Wi-Fi</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="servicio" value="PARRILLA" id="servicio-parrilla">
                                    <label for="servicio-parrilla">Parrilla</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="servicio" value="PISCINA" id="servicio-piscina">
                                    <label for="servicio-piscina">Piscina</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="servicio" value="PING_PONG" id="servicio-pingpong">
                                    <label for="servicio-pingpong">Ping Pong</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="servicio" value="BILLAR" id="servicio-billar">
                                    <label for="servicio-billar">Billar</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="servicio" value="AIRE_ACONDICIONADO" id="servicio-aire">
                                    <label for="servicio-aire">Aire Acondicionado</label>
                                </div>
                                <div>
                                    <input type="checkbox" name="servicio" value="COCINA" id="servicio-cocina">
                                    <label for="servicio-cocina">Cocina</label>
                                </div>
                                <div id="validationServer04Feedback" class="invalid-feedback">
                                    Seleccione servicio valido.
                                </div>
                                <br />
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button class="btn btn-primary btn-lg" type="submit">
                                        Registrar
                                    </button>
                                </div>
                            </div>
                            <div th:if="${error != null}" class="alert alert-danger" role="alert">
                                <p class="MensajeError" th:text="${error}"></p>
                            </div>
                            <div th:if="${exito != null}" class="alert alert-success" role="alert">
                                <p class="MensajeExito" th:text="${exito}"></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
        <div th:replace = "/fragment/footer :: div"></div>
        <div th:replace = "/fragment/script-cliente :: script"></div>
    </body>
</html>