<!DOCTYPE html>
<html lang="en">
    <head > 
        <link href="/css/estilo_propiedad.css" rel="stylesheet" />
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">  
        <link rel="stylesheet" th:href="@{/css/estilo.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <header th:replace="/fragment/navbar :: div"></header>
        <section id="services" class="services section-bg"  th:each="propiedad:${propiedad}" >
            <br><br><br>
            <div class="container-fluid">
                <div class="row row-sm">
                    <div class="col-md-6 _boxzoom">

                        <div class="_product-images">
                            <div class="picZoomer">
                                <div id="carouselPropiedad" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div th:each="imagen : ${propiedad.imagenes}" th:class="${imagen == propiedad.imagenes[0]} ? 'carousel-item active' : 'carousel-item'">
                                            <img th:src="@{'/imagen/imgPropiedad/' + ${imagen.idImagen}}" class="d-block w-100" alt="Imagen de la propiedad" style="height: 300px; object-fit: cover;"
                                                 onclick="zoomImage(this)">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPropiedad" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Anterior</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPropiedad" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Siguiente</span>
                                    </button>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="_product-detail-content">
                            <p class="_p-name" th:text="${propiedad.tipoDePropiedad}">  </p>
                            <p class="_p-name" th:text="${propiedad.nombre}">  </p>
                            <div class="_p-price-box">
                                <div class="p-list">
                                    <span> $  </span>
                                    <span class="price" th:text="${propiedad.valor}"> </span>
                                </div>
                                <div class="_p-features">
                                    <span> Capacidad:  </span>
                                    <p th:text=" ${propiedad.capacidad}"></p>  
                                    <span> Ubicación:  </span>
                                    <p th:text="${propiedad.ubicacion}"></p>
                                    <span> Nombre del propietario:  </span>
                                    <p th:text="${propiedad.propietario.nombre}"></p>
                                    <span>Servicios que ofrece:  </span>
                                    <p th:text="${propiedad.servicios}"></p>
                                    <span> Descripción </span>
                                    <p th:text="${propiedad.Descripcion}"></p>                       
                                </div>
                                <form action="" method="post" accept-charset="utf-8">
                                    <ul class="spe_ul"></ul>
                                    <div class="_p-qty-and-cart">
                                        <div class="_p-add-cart">
                                            <div>
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" 
                                                     th:classappend="${session.usuariosession != null and #authorization.expression('hasRole(''ROLE_CLIENTE'')')} ? '' : 'd-none'">
                                                    <div >
                                                        <a class="btn-theme btn btn-success" tabindex="0" th:href="@{/reserva/registrar/__${propiedad.idPropiedad}__}"><i class="fa fa-shopping-cart"></i> Reservar</a>
                                                    </div>
                                                </div>    
                                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent" 
                                                     th:classappend="${session.usuariosession == null} ? '' : 'd-none'">
                                                    <div >
                                                        <a class="btn-theme btn btn-success" tabindex="0" th:href="@{/login}"> <i class="fa fa-shopping-cart"></i> Reservar</a>
                                                    </div>
                                                </div>
                                            </div>                                      
                                            <input type="hidden" name="pid" value="18" />
                                            <input type="hidden" name="price" value="850" />
                                            <input type="hidden" name="url" value="" />    
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-6 col-12 pb-4" th:if="${not #lists.isEmpty(comentarios)}">
                        <h1>Comentarios</h1>
                        
 <div th:each="comentario : ${comentarios}">
    <span>
        <img th:if="${imagenesCliente[comentario.cliente.id] != null}" 
             th:src="@{'/imagen/perfil/' + ${comentario.cliente.id}}" 
             alt="" class="rounded-circle" width="40" height="40">
        <h5 th:text="${comentario.cliente.nombre}"></h5>
    </span> 
    <p th:text="${comentario.comentario}"></p>
    <span>
        <span th:each="i : ${#numbers.sequence(1, comentario.calificacion)}">★</span>
    </span>
    <hr>
</div>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4"  th:classappend="${session.usuariosession != null and #authorization.expression('hasRole(''ROLE_CLIENTE'')')} ? '' : 'd-none'">
                    <form th:action="@{/comentario/comentar}" method="POST">
                        <div class="form-group" style="display: none;">
                            <label>Id:</label>
                            <input type="text" name="idPropiedad" th:field="*{propiedad.idPropiedad}" class="form-control" readonly='readonly'/>
                            <label>IdPropietario:</label>
                            <input type="text" name="idPropietario" th:field="*{propiedad.propietario.id}" class="form-control" readonly='readonly'/>
                        </div>
                        <div class="form-group">
                            <h4>Deja tu opinion!</h4>
                            <label for="comentario">Comentario</label>
                            <textarea name="comentario" id="msg" cols="30" rows="5" class="form-control" style="background-color: transparent;"></textarea>
                        </div>                           
                        <div class="form-group">
                            <label for="clasificacion">Calificacion</label>
                            <p class="clasificacion">
                                <input id="radio1" type="radio" name="calificacion" value="5" required>
                                <label for="radio1">★</label>
                                <input id="radio2" type="radio" name="calificacion" value="4" required>
                                <label for="radio2">★</label>
                                <input id="radio3" type="radio" name="calificacion" value="3" required>
                                <label for="radio3">★</label>
                                <input id="radio4" type="radio" name="calificacion" value="2" required>
                                <label for="radio4">★</label>
                                <input id="radio5" type="radio" name="calificacion" value="1" required>
                                <label for="radio5">★</label>
                            </p>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Publicar comentario">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <div th:replace = "/fragment/footer :: div"></div>
    <div th:replace = "/fragment/script :: script"></div>
    <script>
        function zoomImage(img) {
        img.classList.toggle("zoomed");

        if (img.classList.contains("zoomed")) {
        document.body.addEventListener("mousemove", handleMouseMove);
        } else {
        document.body.removeEventListener("mousemove", handleMouseMove);
        }
        }
        function handleMouseMove(e) {
        const img = document.querySelector(".picZoomer img.zoomed");
        if (!img) return;
        const container = img.parentElement;
        const x = e.clientX - container.offsetLeft;
        const y = e.clientY - container.offsetTop;
        img.style.transformOrigin = `${x}px ${y}px`;
        }
    </script>
</body>
</html>