body{
    color: #2A0A1B;

}
#nav{
    background-color: #2A0A1B !important;
    opacity: 0.9;
    filter: alpha(opacity=10)
}
.derecha{
    margin-top: 2%;
    text-align: right !important;
    float:right !important;
}
#navbarText{
    margin-top: -0.5%;
}
.navbar-collapse {
    background: #343a4000 !important;
    text-align: right;
}
#navbarText{
    padding-right: 3%;
}
#cardTrue{
    background-color: #fff;
    max-width: 30%;
    color: black;
    text-align: center;
    -webkit-box-shadow: 14px 17px 32px -11px rgba(0,0,0,0.57);
    -moz-box-shadow: 14px 17px 32px -11px rgba(0,0,0,0.57);
    box-shadow: 14px 17px 32px -11px rgba(0,0,0,0.57);
}

#Copyright{
    background-color: #2A0A1B !important;
    opacity: 0.9; 
    padding: 4%;
    position: absolute !important;
    width: 100%
}

#CopyrightControl{
    background-color: #2A0A1B !important;
    opacity: 0.9; 
    padding: 4%;
    position: absolute;
    width: 100%;   


    bottom: 0;

    height: 60px;
    color: white;


}

.container1{
    background-image: linear-gradient(to right top, #c7784f, #d16e60, #d46876, #cf658d, #c268a5);
    padding: 15%;
}

.btn{
    display: inline-block;
    padding: 2em 2em;
    background: #55acee !important;
    color: #fff;
    border-radius: 4em !important;
    border:none;
}

.btn2{
    color: #fff !important;
    background-color: transparent !important;
    outline:none !important;
    box-shadow: 0 !important;
    text-decoration: none;
    border: 0px solid transparent !important; 
    margin-top: -3%
}

.btnR{
    margin-top: 3%;
}

.someClass{
    display: none;
}
.container-formreservaDetalle {
    background-color: #e7e7e7 ! important;
    margin-top: -4.5%; 
}
.form-label{
    font-weight: 600;
}

#titulo{
    padding-top: 10%;
    padding-bottom: 10%
}

.meal {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.meal:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
    padding: 3.2rem 4.8rem 1rem 4.8rem;
}

.meal-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}

.tag {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    background-color: #51cf66;
    color: #333;
    border-radius: 100px;
    font-weight: 600;
}

.tag--vegetarian {
    background-color: #51cf66;
}

.tag--vegan {
    background-color: #94d82d;
}

.tag--paleo {
    background-color: #ffd43b;
}

.meal-title {
    font-size: 1.8rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.meal-attributes {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.meal-attribute {
    font-size: 1.2rem;
    align-items: center;
    gap: 1.6rem;
}
.meal-attribute span {
    font-size: 1.2rem;
}

.meal-icon {
    height: 1.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.meal-img {
    width: 100%;
    height: 224.15px;
    object-fit: cover;
}

#cardsPropiedades{
    margin: 5%;    
}

.btnSolicitarReserva{
    display: inline-block;
    padding: 0.5em 1em;
    background: #e67e22 !important;
    color: #fff;
    border-radius: 4em !important;
    border:none;
}

.btnSolicitarReserva:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #5a01a7;
    transition: 0.7s;
}


.btnSolicitarReserva:hover {
    outline-color: transparent;
    transition: 0.7s;
    text-decoration: none;
}

.button:active {
    background-color: #ffbf00;
}
.gradient-custom-2 {
    /* fallback for old browsers /
    background: #fccb90;
    
    / Chrome 10-25, Safari 5.1-6 /
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
.container py-5 h-100 {
background-color: grey;
width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}}

.imagenLogo{
    max-width: 40%;
}



    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
    .container py-5 h-100 {
        background-color: grey;
        width: 100%;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        margin-right: auto;
        margin-left: auto;
    }
    .slogan {
        font-size: 40px;
        font-weight: bold;
        color: #ffffff;
        text-shadow: 1px 1px #3d3d29;
        text-align: center;
        margin-top: 50px;
    }
 
