body{
    color: #2A0A1B;
}
#nav{
    background-color: #2A0A1B !important;
    opacity: 0.9;
    filter: alpha(opacity=10)
}
.derecha{
    margin-top: 2%;
    text-align: right !important;
    float:right !important;
}
#navbarText{
    margin-top: -0.5%;
}
.navbar-collapse {
    background: #343a4000 !important;
    text-align: right;
}
#navbarText{
    padding-right: 3%;
}
#cardTrue{
    background-color: #fff;
    max-width: 30%;
    color: black;
    text-align: center;
    -webkit-box-shadow: 14px 17px 32px -11px rgba(0,0,0,0.57);
    -moz-box-shadow: 14px 17px 32px -11px rgba(0,0,0,0.57);
    box-shadow: 14px 17px 32px -11px rgba(0,0,0,0.57);
}

#Copyright{
    background-color: #2A0A1B !important;
    opacity: 0.9;
    padding: 4%;
    bottom: 0;
    width: -webkit-fill-available;
}

.container1{
    background-image: linear-gradient(to right top, #c7784f, #d16e60, #d46876, #cf658d, #c268a5);
    padding: 15%;
}

.btn{
    display: inline-block;
    padding: 2em 2em;
    background: #55acee !important;
    color: #fff;
    border-radius: 4em !important;
    border:none;
}

.btn2{
    color: #fff !important;
    background-color: transparent !important;
    outline:none !important;
    box-shadow: 0 !important;
    text-decoration: none;
    border: 0px solid transparent !important; 
    margin-top: -3%
}

.btnR{
    margin-top: 3%;
}

.someClass{
    display: none;
}
.container-formreserva {
    background-image: linear-gradient(to right top, #c7784f, #d16e60, #d46876, #cf658d, #c268a5) !important;      
}
.form-label{
    font-weight: 600;
}


.btn {
  /* Para <button> */
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;

  /* Para <a> */
  display: inline-block;
  text-decoration: none;

  /* Otros */
  margin: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
}



.btn-material {
  padding: 0 16px;
  border-radius: 2px;
  background-color: #018786;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: #fff;
  transition: background-color 15ms linear,
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);

  height: 36px;
  line-height: 2.25rem;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn-material:hover,
.btn-material:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #159090;
}

.btn-material:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  background-color: #61b4b3;
}
