.form-all {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Lucida Grande, sans-serif;
    }
    .form-header-group {
      font-family: Lucida Grande, sans-serif;
    }
    .form-label {
      font-family: Lucida Grande, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: inline-block;
    float: left;
    text-align: left;
  
    }
  
    .form-line {
      margin-top: 4px;
      margin-bottom: 4px;
    }
  
    .form-all {
      max-width: 550px;
      width: 100%;
    }
  
    .form-label.form-label-left,
    .form-label.form-label-right,
    .form-label.form-label-left.form-label-auto,
    .form-label.form-label-right.form-label-auto {
      width: 150px;
    }
  
    .form-all {
      font-size: 14px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 14px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 14px
    }
  
    .supernova .form-all, .form-all {
      background-color: rgba(15,0,0,0.77);
    }
  
    .form-all {
      color: #ffffff;
    }
    .form-header-group .form-header {
      color: #ffffff;
    }
    .form-header-group .form-subHeader {
      color: #ffffff;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label {
      color: #ffffff;
    }
    .form-sub-label {
      color: #ffffff;
    }
  
    .supernova {
      background-color: rgba(196,177,177,0.05);
    }
    .supernova body {
      background: transparent;
    }
  
    .form-textbox,
    .form-textarea,
    .form-dropdown,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #636060;
    }
  
      .supernova {
        height: 100%;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: center top;
      }
      .supernova {
        background-image: url("https://www.jotform.com/uploads/guest_9222580597aa6a61/form_files/fondofor.5f8829a7c83677.10497130.jpg");
      }
      #stage {
        background-image: url("https://www.jotform.com/uploads/guest_9222580597aa6a61/form_files/fondofor.5f8829a7c83677.10497130.jpg");
      }
    
    .form-all {
      background-image: none;
    }
  
  .ie-8 .form-all:before { display: none; }
  .ie-8 {
    margin-top: auto;
    margin-top: initial;
  }
    .cajas{
  border-radius: 5px;
  
  margin: 15px 0;
  background-color: #93BBBB;
  border: 2px solid #fff;
}
.cajas:hover{
  background-color: #A7C1C0;
  border: 2px solid #000;
  box-shadow: 3px 3px 6px #fff;
}
  
